.div-style  {
    text-align:center;
}
.fraud-amount-style {
    color:#0A68EA;
    margin-top:-20px;
}

.square-green {
    float: left;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: 0px;
    background: #00FF85;
}

.square-blue {
    float: left;
    width: 15px;
    height: 15px;
    margin: 3px;
    border: 0px;
    background: #0085FF;
}


.tot-fraud {
    /*float: left;*/
    /*margin-left:10px;*/
    margin-top: 20px;

}

.t-align {
    text-align:left !important;
}

.legend-name{
    font-size: 16px;
}

.legend-amount{
    font-size: 18px;
    font-weight: bold;
}

.legend-count{
    font-size: 14px;
    color: #616161;
}

.legend-percent-from-total{
    font-size: 12px;
    color: #5D6E77;
}

.click-tip{
    color: #5D6E77;
    font-size: 0.8em;
    /*text-align: left;*/
    /*margin-left: 20px;*/
    /*margin-top: -20px;*/
    position: absolute;
    bottom: 0;
    left: 20px;
}

.drill-down-close{
    color: #5D6E77;
    font-size: 1.7em;
    top: 2px;
    right: 6px;
    position: absolute;
    font-weight: lighter;
    cursor: pointer;
}

.date-time-start{
    margin-right: 25px !important;
}

.date-time-end{
    margin-left: 25px !important;
}

.date-time{
    width: 230px;
}

.date-time-container{
    margin: 10px;
    color: #5D6E77;
}

.date-time div, .date-time label{
    color: #5D6E77;
}

.date-time div:before{
    border-bottom: 1px solid rgb(93, 110, 119)!important;
}

.error-msg{
    color: #f44336;
    margin-left: 10px;
    font-size: 0.75em;
    margin-bottom: 10px;
}

.info-msg{
    color: #2196f3;
    margin-left: 10px;
    font-size: 0.75em;
    margin-bottom: 10px;
}

.btn-filter-custom{
    margin-left: 20px !important;
}

.btn-filter-default{
    margin-left: 10px !important;
}